.App {
  text-align: center;
}


body{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar{
  width: 100%;
  height: 80px;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links{
  text-align: center;
  margin-right: 50px;
}

.links a{
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p{
  font-size: 15px;
  margin-right: 10px;
  color: white;
}

.user img{
  font-size: 15px;
  border-radius: 50%;
}

input,textarea{
  font-family: "Nunito",sans-serif;
}

.create-post{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

form{
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: slateblue;
  overflow: hidden;
  display: inline-block;
}

input,
textarea{
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgb(224, 192, 152);
  border: 8px transparent;
  border-radius: 5px;
  color: slateblue;
  font-size: 16px;
  z-index: 1;
}

.submitForm:hover{
  cursor: pointer;
}

.post{
  margin: 20px 10px;
  width: 320px;
  height: 250px;
  border: 5px solid slateblue;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  overflow: hidden;
  display: inline-block;
}
.title{
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 320px;
  background-color: slateblue;
  padding: 15px;
  padding-bottom: 35px;
}
.footer{
  display: flex;
  height:40px;
  width: 320px;
  padding: 10px;
  padding-top: 3px ;
  padding-bottom: 15px;
  background-color: slateblue;
}
.postBody{
  height: 97px;
  background-color: rgb(185, 179, 162);
  padding: 10px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}
.like{
  margin: auto ;
  margin-right: 0;
  height: 25px;
}
.likecount{
  margin: auto;
  margin-left: 5px;
  color: rgb(225, 143, 19);
  font-weight:700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 23px;
}

.logout{
  border: 2px solid white;
  /* color: slateblue; */
  background-color: red;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.main{
  background-color:rgb(50, 45, 45);
}
